body {
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.framed {
    max-width: 1280px;
    width: 100%;
}

.framed div {
    margin-top: 16px;
}

.framed .button {
    display: inline-block;
    margin-bottom: 4px;
    color: #ffff88;
}
